name: Feature tests
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Deploy unstable app"]
    types:
      - completed
jobs:
  feature-tests:
    environment:
      name: unstable
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install npm packages
        run: npm ci

      - name: Install playwright browswers
        run: npm run e2e-install-browsers

      - name: Run feature tests
        run: npm run e2e-tests
        env:
          CONTENTFUL_USERNAME: ${{ vars.CONTENTFUL_USERNAME }}
          CONTENTFUL_PASSWORD: ${{ secrets.CONTENTFUL_PASSWORD }}
          VITE_REACT_APP_CONTENTFUL_ENV: ${{ secrets.VITE_REACT_APP_CONTENTFUL_ENV }}
          VITE_REACT_APP_CONTENTFUL_SPACE_ID: ${{ secrets.VITE_REACT_APP_CONTENTFUL_SPACE_ID }}
          CONTENTFUL_APP_DEF_ID: ${{ secrets.UNSTABLE_APP_DEFINITION_ID }}

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: playwright failiure report
          path: |
            playwright-report
            test-report
          retention-days: 1
